<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../static/dist/images/ico/favicon.ico">

    <title>GiftLobber</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/dist/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/dist/css/starter-template.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../docs-assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <img src="http://thecavenderdiary.files.wordpress.com/2013/03/img_7282.jpg" width="100%" height="100%"> 
  </head>
  
  </div>
  <body>
    <div style='position:absolute;z-index:0;left:0;top:0;width:100%;height:100%'>

    <div style="background-color: rgba(0, 0, 0, 0.4);padding-right: 0px;padding-left: 0px;width: 470px;margin-top: 200px;height: 500px;margin-left: auto;margin-right: auto;border-top-width: 100px; border-radius: 10px;margin-bottom: 0px;border-bottom-width: 20px;" class="container">
    

      <div class="starter-template" style="
    height: 252px;
    padding-top: 0px;
    padding-bottom: 90px;">

        <b><h1 style="color: white;height: 30px;">Edit/Add Your Gift</h1></b>
        </p>
        <form class="form-inline" style="padding-bottom:4px;" method="post">
          <input type="text" name="title"class="input-small" placeholder="Card Name" required="" style="text-align: center;">

<br>
<br>
               <textarea rows="3" name="message"class="form" placeholder="Back Message" style=" width: 200px; text-align: center;"></textarea>
        <br><br>
        <div style="text-align: center;">
          <div class="col-md-4">
              <a class="thumbnail" href="https://scontent-b.xx.fbcdn.net/hphotos-prn1/v/t34/1063042_10151952573520975_14186850_n.jpg?oh=de899e6a0dbebb1045feebc37e906509&oe=52DD4D03">
                  <img class="img-responsive" src="https://scontent-b.xx.fbcdn.net/hphotos-prn1/v/t34/1063042_10151952573520975_14186850_n.jpg?oh=de899e6a0dbebb1045feebc37e906509&oe=52DD4D03">
                  <label class="radio-inline">
                    <input  id="radio1" class="btn" name='option1' value="A" type="radio">
                  </label>
              </a>
          </div>
          <div class="col-md-4">
              <a class="thumbnail" href="https://scontent-b.xx.fbcdn.net/hphotos-prn1/v/t34/1552918_10151952573605975_635116936_n.jpg?oh=3943ee82ba53b5ef4d8247095d56dfdb&oe=52DD4FB4">
                  <img class="img-responsive" src="https://scontent-b.xx.fbcdn.net/hphotos-prn1/v/t34/1552918_10151952573605975_635116936_n.jpg?oh=3943ee82ba53b5ef4d8247095d56dfdb&oe=52DD4FB4">
                  <label class="radio-inline">
                    <input id="radio1" class="btn" name="option1" value="B" type="radio">
                  </label>
              </a>
          </div>
          <div class="col-md-4">
              <a class="thumbnail" href="https://scontent-b.xx.fbcdn.net/hphotos-prn2/v/t34/1615238_10151952573695975_1969840601_n.jpg?oh=9266a084371c9996be04b21d47810606&oe=52DD235C">
                  <img class="img-responsive" src="https://scontent-b.xx.fbcdn.net/hphotos-prn2/v/t34/1615238_10151952573695975_1969840601_n.jpg?oh=9266a084371c9996be04b21d47810606&oe=52DD235C">
                  <label class="radio-inline">
                    <input  id="radio1" class="btn" name="option1" value="C" type="radio">
                  </label>
              </a>
          </div>
          <div class="col-md-4">
              <a class="thumbnail" href="https://scontent-b.xx.fbcdn.net/hphotos-prn2/v/t34/1558697_10151952573730975_983376888_n.jpg?oh=21f4be63fb3fbe04579b0c772296d2bc&oe=52DD3793">
                  <img class="img-responsive" src="https://scontent-b.xx.fbcdn.net/hphotos-prn2/v/t34/1558697_10151952573730975_983376888_n.jpg?oh=21f4be63fb3fbe04579b0c772296d2bc&oe=52DD3793">
                  <label class="radio-inline">
                    <input  id="radio1" class="btn" name="option1" value="D" type="radio">
                  </label>
              </a>
          </div>
          <div class="col-md-4">
              <a class="thumbnail" href="https://scontent-b.xx.fbcdn.net/hphotos-prn1/v/t34/1600218_10151952573755975_1943489134_n.jpg?oh=3b63992f4758b9e5f513dd43ffba490e&oe=52DDB336">
                  <img class="img-responsive" src="https://scontent-b.xx.fbcdn.net/hphotos-prn1/v/t34/1600218_10151952573755975_1943489134_n.jpg?oh=3b63992f4758b9e5f513dd43ffba490e&oe=52DDB336">
                  <label class="radio-inline">
                    <input  id="radio1" class="btn" name="option1" value="E" type="radio">
                  </label>
              </a>
          </div>
          <div class="col-md-4">
              <a class="thumbnail" href="https://scontent-b.xx.fbcdn.net/hphotos-prn1/v/t34/1543242_10151952573785975_1994472885_n.jpg?oh=844af51cfd318cda42732e9c3c71d12c&oe=52DDB3DE">
                  <img class="img-responsive" src="https://scontent-b.xx.fbcdn.net/hphotos-prn1/v/t34/1543242_10151952573785975_1994472885_n.jpg?oh=844af51cfd318cda42732e9c3c71d12c&oe=52DDB3DE">
                  <label class="radio-inline">
                    <input  id="radio1" class='btn' name="option1" value="F" type="radio">
                  </label>
              </a>
          </div>
	<input type="hidden" name="choice1" value={{request.form['choice1']}} />
        </div>
        <br>
	<script type="text/jscript">
                    $("body").find("#radio1").children().each(function () {
                        $(this).bind('click', function () {
                            $("input[name=choice1]").val(this.value);
                            });
                    });
                </script>
        <button class="btn btn-lg btn-primary btn-block" type="submit" style=" width: 310px; display: inline-block;">Submit</button>
	</form>
      </div>
      

    </div>

    

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <link rel="stylesheet/less" href="/path/to/bootstrap.less">
    <script src="/path/to/less.js"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="../static/dist/js/bootstrap.min.js"></script>
  </body>
</html>
