<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../docs-assets/ico/favicon.png">

    <title>servBOT</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/dist/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/dist/css/starter-template.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../docs-assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <img src="http://www.alfajr-news.net/sites/default/files/field/image/sss.jpeg" width="100%" height="100%"> 
  </head>
  
  </div>
  <body>
    <div style='position:absolute;z-index:0;left:0;top:0;width:100%;height:100%'>

    <div style="background-color: rgba(0, 0, 0, 0.4);padding-right: 0px;padding-left: 0px;width: 470px;margin-top: 200px;height: 190px;margin-left: auto;margin-right: auto;border-top-width: 100px; border-radius: 10px" class="container">

      <div class="starter-template" style="
    height: 252px;
    padding-top: 0px;
    padding-bottom: 90px;">

        <b><h1 style="color: white;height: 30px;">Welcome to servBOT</h1></b>
        <p class="lead" style="color: white">servBOT is a better way to order at restaurants.<br>Click below to begin.</p>
        <button type="button" class="btn btn-default" role="button"><a href="stores.html">Continue</a></button>
      </div>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
  </body>
</html>